<% content_for :sidebar do %>
    <h5><%= link_to 'List of billing cycles', admin_billing_cycles_path %></h5>
<% end %>

<h1>New billing cycle</h1>

<%= form_for([:admin, @billing_cycle]) do |f| -%>
    <%= render :partial => "form", :object => f %>
    <div class="actions">
        <%= f.submit "Create billing cycle", :class => "btn primary" %>
    </div>
<% end -%>
