/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

.footer {
    clear: both
    border-top: 1px solid #e6e6e6;
    text-align: center;
    line-height: 13px;
    padding: 0;
    padding-bottom: 5px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20px;
    color: #049cdb;
}

div.spinner
{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    overflow: auto;
    z-index: 1234;
}
